<!-- <div *ngIf="data | async as cards">
    <ng-container >
        <ul>
            <li *ngFor="let item of cards">{{item.name}}</li>
        </ul>
    </ng-container>
</div> -->

<div [ngClass]="'container-fluid'">
  <div [ngClass]="'row align-items-center justify-content-between'">
    <div [ngClass]="'col-3'">
      <button (click)="goBack()">Torna indietro</button>
    </div>
    <div [ngClass]="'col-6'">
      <h1>LISTING</h1>
      <input [(ngModel)]="searchTerm" placeholder="Search..." (input)="filterData()">
    </div>
  </div>
  <div [ngClass]="'row'">
    <ng-container *ngFor="let item of filteredData">
      <div [ngClass]="'col-4'">
      <app-card [card]="item" [ngStyle]="{padding: '5px'}">
        <app-details></app-details>
      </app-card>
    </div>
    </ng-container>
  </div>
</div>
