<!-- <div *ngIf="data | async as cards">
    <ng-container >
        <ul>
            <li *ngFor="let item of cards">{{item.name}}</li>
        </ul>
    </ng-container>
</div> -->

<div [ngClass]="'container-fluid'">
  <div [ngClass]="'row align-items-center justify-content-between'">
    <div [ngClass]="'col-3'">
      <button (click)="goBack()">Torna indietro</button>
  <h1>LISTING</h1>
  <input [(ngModel)]="searchTerm" placeholder="Search..." (input)="filterData()">
</div>
</div>
    <ng-container *ngFor="let item of filteredData">
      <div [ngClass]="'align-items-center justify-content-between'">
      <app-card [card]="item" [ngStyle]="{flex:1, padding:5}">
        <app-details></app-details>
      </app-card>
    </div>
    </ng-container>
</div>
