<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ProgettoAngular</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul>
    </div>
    <small class="mx-3">Ciao, {{[this.userService.user.name]}}!</small>

    <button (click)="this.userService.logout()">Logout</button>

    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>





<footer id="footer" class="footer container-fluid">
  <div class="container">
    <div class="row gy-3">
      <div class="col-lg-6 col-md-6 d-flex justify-content-center">
        <i class="bi bi-geo-alt icon"></i>
        <div>
          <h4>Address</h4>
          <p>A108 Adam Street New York, NY 535022 - US</p>
        </div>
      </div>

      <div class="col-6 col-md-6 footer-links d-flex justify-content-center">
        <i class="bi bi-telephone icon"></i>
        <div>
          <h4>Reservations</h4>
          <p>
            <strong>Phone:</strong> +1 5589 55488 55
            <strong>Email:</strong> info@example.com
          </p>
        </div>
      </div>


    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy;
      <strong>
        <span>PeroniRotte & Angular</span>
      </strong>
      . All Rights Reserved
    </div>
    <div class="credits"></div>
  </div>
</footer>
