<button (click)="goBack()">Torna indietro</button>
<div class="row d-flex ">
  <div class="col-12 d-flex justify-content-center">
    <img class="w-25" *ngIf="userService.selectedCard?.picture?.large" [src]="userService.selectedCard?.picture?.medium" alt="img" />
  </div>
  <div class="col-12 d-flex justify-content-center">
    <h1>{{ userService.selectedCard?.name?.first|| "No title" }} {{ userService.selectedCard?.name?.last || "No description" }}</h1>
  </div>
  <div class="col-12 d-flex flex-column justify-content-center text-center">
    <h3>email: {{ userService.selectedCard?.email|| "No title" }} </h3>
    <h3>birthday: {{ userService.selectedCard?.dob?.date|| "No title" }} </h3>
    <h3>age: {{ userService.selectedCard?.dob?.age|| "No title" }} </h3>
    <h3>gender: {{ userService.selectedCard?.gender|| "No title" }} </h3>
    <h3>city: {{ userService.selectedCard?.location?.city|| "No title" }} ({{ userService.selectedCard?.location?.state }}) </h3>
    <h3>phone: {{ userService.selectedCard?.phone|| "No title" }} </h3>
  </div>
  <div class="d-flex justify-content-center text-center">
    <button (click)="userService.setFavorite(userService.selectedCard)">Like</button>
  </div>
</div>
