<!-- <div *ngIf="singleProfile; else nosingleProfile">
  <img *ngIf="singleProfile.srcImg" [src]="singleProfile.srcImg" alt="img" />
  <h1>{{ singleProfile.title || "No title" }}</h1>
  <h1>{{ singleProfile.description || "No description" }}</h1>
</div>
<ng-template #nosingleProfile>no loading</ng-template> -->
<button (click)="goBack()">Torna indietro</button>
<img *ngIf="userService.selectedCard?.srcImg" [src]="userService.selectedCard?.srcImg" alt="img" />

<h1>{{ userService.selectedCard?.title  || "No title" }}</h1>
<h1>{{ userService.selectedCard?.description || "No description" }}</h1>
<button (click)="userService.setFavorite(userService.selectedCard)">Like</button>
