<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
              <p class="text-white-50 mb-5">Please enter your login and password!</p>

              <form [formGroup]="loginForm" class="form-outline form-white mb-4">
                <div class="form-group">


                  <div class="my-2">

                    <label class="my-2">Email:</label>
                    <input type='email' class="form-control" formControlName="email" required>
                    <small *ngIf="submitted && loginForm.get('email')?.hasError('required')">Campo richiesto</small>
                  </div>

                  <div class="my-2">
                    <label class="my-2">Password:</label>
                    <input type="password" class="form-control" formControlName="password" required>
                    <small *ngIf="submitted && loginForm.get('password')?.hasError('required')">Campo richiesto</small>
                  </div>

                  <button class="btn btn-outline-light btn-lg px-5 my-5" (click)="onSubmit()" >Login</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
