/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

@font-face {
    font-family: 'CustomFont';
    src: url('./assets/StorkDelivery-6YmA6.ttf') format('truetype');
}

*{
    font-family: 'CustomFont', Arial, sans-serif;
}

button{
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 16px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}

button:hover{
    background-color: #ececec;
    color: #007bff;
}
